EjSoap1/WebApplication1/WindowsFormsApp1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearTipoDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TiposDoc" type="tns:TipoDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TipoDoc">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoDoc" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientes" type="tns:ArrayOfCliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DNI" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Doc" type="tns:TipoDoc" />
          <s:element minOccurs="0" maxOccurs="1" name="Condicion" type="tns:CondImpos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CondImpos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCondicion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="clientes" type="tns:ArrayOfCliente" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearTipoDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearTipoDocumentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarTipoDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarTipoDocumentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListaDoc">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerListaDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListaDocResult" type="tns:ArrayOfTipoDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDoc" nillable="true" type="tns:TipoDoc" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearTipoDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:CrearTipoDocumento" />
  </wsdl:message>
  <wsdl:message name="CrearTipoDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:CrearTipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarTipoDocumento" />
  </wsdl:message>
  <wsdl:message name="EliminarTipoDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarTipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaDocSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListaDoc" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaDocSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListaDocResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CrearTipoDocumento">
      <wsdl:input message="tns:CrearTipoDocumentoSoapIn" />
      <wsdl:output message="tns:CrearTipoDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoDocumento">
      <wsdl:input message="tns:EliminarTipoDocumentoSoapIn" />
      <wsdl:output message="tns:EliminarTipoDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDoc">
      <wsdl:input message="tns:ObtenerListaDocSoapIn" />
      <wsdl:output message="tns:ObtenerListaDocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearTipoDocumento">
      <soap:operation soapAction="http://tempuri.org/CrearTipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoDocumento">
      <soap:operation soapAction="http://tempuri.org/EliminarTipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDoc">
      <soap:operation soapAction="http://tempuri.org/ObtenerListaDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearTipoDocumento">
      <soap12:operation soapAction="http://tempuri.org/CrearTipoDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarTipoDocumento">
      <soap12:operation soapAction="http://tempuri.org/EliminarTipoDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaDoc">
      <soap12:operation soapAction="http://tempuri.org/ObtenerListaDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:52599/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:52599/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>